* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #fde2e2 !important;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 3em;
    font-style: italic;
}